body {
    padding-top: 110px;
}
.parallax {
    background: transparent;
    min-height: 100px;
    padding-bottom: 10px;
}
.features {
    padding-top: 100px;
    padding-bottom: 100px;
}
.navbar {
    padding-bottom: 50px;
}
.logo-text {
    padding-top: 24px;
    font-size: 48px;
}
.main {
    padding-bottom: 36px;
}
.messy-desk {
    min-height: 300px;
    padding-bottom: 20px;
}
.unclutter {
    padding-top: 100px;
}
.books {
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 200px;
}
.who-are-we {
    padding-bottom: 40px;
}
.who {
    padding-top: 100px;
    padding-bottom: 50px;
}
footer {
    background-color: #0f0f0f;
    color: #696C6A;
}
footer a {
    color: #696C6A;
}
footer p {
    color: #696C6A;
}
footer h3 {
    color: #cccccc;
}
.greyish {
    color: #696C6A;
}